In [9]:
import pandas as pd
import yaml_parser
import glob
import os

In [3]:
data_catalog = yaml_parser.YAMLParser.read_yaml_file('D:\Repositories\msc-thesis\constants\data_catalog.yaml') # load the .mat files paths and names

In [19]:
data_catalog['case_edu_bearing_data']['fault_data']

{'base_path': 'raw_data/case_edu_bearing_data/',
 'folders': ['12k_drive_end_bearing_fault_data',
  '12k_fan_end_bearing_fault_data',
  '48k_drive_end_bearing_fault_data'],
 'diameters': ['007', '014', '021', '028'],
 'HPs': ['0', '1', '2', '3'],
 'RPMs': ['1797', '1772', '1750', '1730'],
 'file_types': ['IR', 'BALL', 'CENTERED', 'ORTHOGONAL', 'OPPOSITE'],
 'extension': '.mat'}

In [11]:
csv_files = glob.glob(os.path.join(data_catalog['case_edu_bearing_data']['processed_normal_data']['folder'], '*.csv'))

In [16]:
csv_files = data_catalog['case_edu_bearing_data']['normal_data']['processed_paths']

In [17]:
csv_files

['processed_data/case_edu_bearing_data/bearing_at_1730_rpm_case_edu.csv',
 'processed_data/case_edu_bearing_data/bearing_at_1750_rpm_case_edu.csv',
 'processed_data/case_edu_bearing_data/bearing_at_1772_rpm_case_edu.csv',
 'processed_data/case_edu_bearing_data/bearing_at_1797_rpm_case_edu.csv']

In [56]:
df = pd.read_csv('parsed_data/case_edu_bearing_data/normal_data/bearing_at_1730_rpm_case_edu.csv')

In [22]:
df

,X100_DE_time,X100_FE_time,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second
0,0.014603,0.192922,0,3,1730,NaN,12000
1,0.054449,0.164364,0,3,1730,NaN,12000
2,0.107646,0.090811,0,3,1730,NaN,12000
3,0.133722,0.086496,0,3,1730,NaN,12000
4,0.112652,0.099235,0,3,1730,NaN,12000
...,...,...,...,...,...,...,...
485638,0.035673,0.125122,0,3,1730,NaN,12000
485639,-0.004590,0.124916,0,3,1730,NaN,12000
485640,-0.023574,0.109302,0,3,1730,NaN,12000
485641,0.005215,0.052185,0,3,1730,NaN,12000
485642,0.047773,-0.004520,0,3,1730,NaN,12000

In [69]:
df_fault = pd.read_csv('parsed_data/case_edu_bearing_data/12k_drive_end_bearing_fault_data/021_3HP_1730RPM_BALL.csv')

In [71]:
df_fault['fault_element'] = 'BALL'

In [72]:
df_fault = df_fault.rename(columns = {'X225_DE_time' : 'DE',
                           'X225_FE_time' : 'FE',
                           'X225_BA_time' : 'BA'})
df = df.rename(columns = {'X100_DE_time' : 'DE',
                     'X100_FE_time' : 'FE'})

In [33]:
import numpy as np

In [73]:
pd.concat((df, df_fault), axis = 0)

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,BA,fault_element
0,0.014603,0.192922,0,3,1730,NaN,12000,NaN,NaN
1,0.054449,0.164364,0,3,1730,NaN,12000,NaN,NaN
2,0.107646,0.090811,0,3,1730,NaN,12000,NaN,NaN
3,0.133722,0.086496,0,3,1730,NaN,12000,NaN,NaN
4,0.112652,0.099235,0,3,1730,NaN,12000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
122131,0.201744,0.029175,21,3,1730,drive_end,12000,-0.002615,BALL
122132,-0.161136,-0.024449,21,3,1730,drive_end,12000,0.031104,BALL
122133,-0.142131,0.001644,21,3,1730,drive_end,12000,-0.048888,BALL
122134,0.058152,0.042118,21,3,1730,drive_end,12000,-0.052711,BALL
122135,-0.052304,0.195798,21,3,1730,drive_end,12000,-0.003139,BALL

In [39]:
normal_data_folder = 'parsed_data/case_edu_bearing_data/normal_data/'
de_fault_12_folder = 'parsed_data/case_edu_bearing_data/12k_drive_end_bearing_fault_data/'
fe_fault_12_folder = 'parsed_data/case_edu_bearing_data/12k_fan_end_bearing_fault_data/'

In [40]:
csv_files = glob.glob(os.path.join(normal_data_folder, '*.csv'))

In [49]:
csv_files[0].split('_')[7]

'1730'

In [79]:
glob.glob(os.path.join(fe_fault_12_folder, '*.csv'))[0].split('_')[-1].split('.')[0]

'BALL'

In [46]:
'X100_DE_time'.split('_')[1]

'DE'

In [65]:
cols_to_rename = [x for x in df.columns if x[0] == 'X']

In [66]:
dicti = {}
for col in cols_to_rename:
    dicti.update({col : col.split('_')[1]})
dicti

{'X100_DE_time': 'DE', 'X100_FE_time': 'FE'}

In [68]:
df.empty

False

In [87]:
def rename_columns(df):

    cols_to_rename = [x for x in df.columns if x[0] == 'X']
    dicti = {}
    for col in cols_to_rename:
        dicti.update({col : col.split('_')[1]})
    
    return df.rename(columns = dicti)

In [88]:
rename_columns(df_normal)

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second
0,0.053197,0.145667,0,0,1797,NaN,12000
1,0.088662,0.097796,0,0,1797,NaN,12000
2,0.099718,0.054856,0,0,1797,NaN,12000
3,0.058621,0.036982,0,0,1797,NaN,12000
4,-0.004590,0.054445,0,0,1797,NaN,12000
...,...,...,...,...,...,...,...
243933,-0.059664,0.142791,0,0,1797,NaN,12000
243934,-0.063836,0.148955,0,0,1797,NaN,12000
243935,-0.034630,0.140531,0,0,1797,NaN,12000
243936,0.016689,0.095536,0,0,1797,NaN,12000
243937,0.046938,0.090195,0,0,1797,NaN,12000

In [109]:
final_dfs = {'1730' : pd.DataFrame(),
             '1750' : pd.DataFrame(),
             '1772' : pd.DataFrame(),
             '1797' : pd.DataFrame()}
for normal_file in glob.glob(os.path.join(normal_data_folder, '*.csv')):
    rpm_normal = normal_file.split('_')[7]
    final_df = pd.DataFrame()
    df_normal = pd.read_csv(normal_file)
    df_normal = rename_columns(df_normal)
    for de_fault_file in glob.glob(os.path.join(de_fault_12_folder, '*.csv')):
        de_fault_element = de_fault_file.split('_')[-1].split('.')[0]
        if rpm_normal in de_fault_file:
            de_fault = pd.read_csv(de_fault_file)
            de_fault = rename_columns(de_fault)
            de_fault['fault_element'] = de_fault_element
            if final_df.empty:
                final_df = pd.concat((df_normal, de_fault), axis = 0)
            else:
                final_df = pd.concat((final_df, de_fault), axis = 0)
    for fe_fault_file in glob.glob(os.path.join(fe_fault_12_folder, '*.csv')):
        fe_fault_element = fe_fault_file.split('_')[-1].split('.')[0]
        if rpm_normal in fe_fault_file:
            fe_fault = pd.read_csv(fe_fault_file)
            fe_fault = rename_columns(fe_fault)
            fe_fault['fault_element'] = fe_fault_element
            if final_df.empty:
                final_df = pd.concat((df_normal, fe_fault), axis = 0)
            else:
                final_df = pd.concat((final_df, fe_fault), axis = 0)
    final_dfs.update({rpm_normal : final_df})
final_dfs

{'1730':               DE        FE  fault_diameter  horse_power  rounds_per_minute
 0       0.014603  0.192922               0            3               1730  \
 1       0.054449  0.164364               0            3               1730
 2       0.107646  0.090811               0            3               1730
 3       0.133722  0.086496               0            3               1730
 4       0.112652  0.099235               0            3               1730
 ...          ...       ...             ...          ...                ...
 121346  0.091857  0.155118              21            3               1730
 121347  0.028101 -0.093087              21            3               1730
 121348 -0.061238 -0.144956              21            3               1730
 121349  0.079918  0.077803              21            3               1730
 121350  0.185420  0.261782              21            3               1730

        fault_end  samples_per_second        BA fault_element
 0            NaN               12000       NaN           NaN
 1            NaN               12000       NaN           NaN
 2            NaN               12000       NaN           NaN
 3            NaN               12000       NaN           NaN
 4            NaN               12000       NaN           NaN
 ...          ...                 ...       ...           ...
 121346   fan_end               48000  0.174671    ORTHOGONAL
 121347   fan_end               48000 -0.261744    ORTHOGONAL
 121348   fan_end               48000 -0.115280    ORTHOGONAL
 121349   fan_end               48000  0.246575    ORTHOGONAL
 121350   fan_end               48000 -0.063696    ORTHOGONAL

 [3528370 rows x 9 columns],
 '1750':        fault_diameter horse_power rounds_per_minute  fault_end
 0                   7           2              1750  drive_end  \
 1                   7           2              1750  drive_end
 2                   7           2              1750  drive_end
 3                   7           2              1750  drive_end
 4                   7           2              1750  drive_end
 ...               ...         ...               ...        ...
 120612             21           2              1750    fan_end
 120613             21           2              1750    fan_end
 120614             21           2              1750    fan_end
 120615             21           2              1750    fan_end
 120616             21           2              1750    fan_end

        samples_per_second        DE        FE        BA fault_element
 0                   12000 -0.314474  0.147927 -0.011266          BALL
 1                   12000  0.121989 -0.044995  0.022654          BALL
 2                   12000  0.391469  0.108069  0.056091          BALL
 3                   12000 -0.017056  0.062458  0.026034          BALL
 4                   12000 -0.199308 -0.049104  0.031868          BALL
 ...                   ...       ...       ...       ...           ...
 120612              48000 -0.051086  0.004146 -0.170687    ORTHOGONAL
 120613              48000  0.052873 -0.118777  0.028408    ORTHOGONAL
 120614              48000  0.069441 -0.016910  0.125339    ORTHOGONAL
 120615              48000 -0.064649  0.003821 -0.170244    ORTHOGONAL
 120616              48000 -0.065705 -0.062437 -0.101398    ORTHOGONAL

 [3163816 rows x 9 columns],
 '1772':               DE        FE  fault_diameter  horse_power  rounds_per_minute
 0       0.046104  0.023216               0            1               1772  \
 1      -0.037134  0.081155               0            1               1772
 2      -0.089496  0.095331               0            1               1772
 3      -0.084906  0.091016               0            1               1772
 4      -0.038594  0.038625               0            1               1772
 ...          ...       ...             ...          ...                ...
 120612 -0.053279 -0.091705              21            1               1772
 120613 -0.126781  0.033170              21            1               1772
 120614  0.059289  0.044470              21            1               1772
 120615  0.148384 -0.194954              21            1               1772
 120616 -0.039391 -0.008130              21            1               1772

        fault_end  samples_per_second        BA fault_element
 0            NaN               12000       NaN           NaN
 1            NaN               12000       NaN           NaN
 2            NaN               12000       NaN           NaN
 3            NaN               12000       NaN           NaN
 4            NaN               12000       NaN           NaN
 ...          ...                 ...       ...           ...
 120612   fan_end               48000  0.133588      OPPOSITE
 120613   fan_end               48000 -0.091379      OPPOSITE
 120614   fan_end               48000 -0.084539      OPPOSITE
 120615   fan_end               48000  0.164571      OPPOSITE
 120616   fan_end               48000  0.008128      OPPOSITE

 [3645265 rows x 9 columns],
 '1797':               DE        FE  fault_diameter  horse_power  rounds_per_minute
 0       0.053197  0.145667               0            0               1797  \
 1       0.088662  0.097796               0            0               1797
 2       0.099718  0.054856               0            0               1797
 3       0.058621  0.036982               0            0               1797
 4      -0.004590  0.054445               0            0               1797
 ...          ...       ...             ...          ...                ...
 121163 -0.320642 -0.199291              21            0               1797
 121164  0.047982 -0.487955              21            0               1797
 121165  0.306873 -0.015409              21            0               1797
 121166 -0.050902  0.155529              21            0               1797
 121167 -0.218838 -0.409060              21            0               1797

        fault_end  samples_per_second        BA fault_element
 0            NaN               12000       NaN           NaN
 1            NaN               12000       NaN           NaN
 2            NaN               12000       NaN           NaN
 3            NaN               12000       NaN           NaN
 4            NaN               12000       NaN           NaN
 ...          ...                 ...       ...           ...
 121163   fan_end               48000  0.073876            IR
 121164   fan_end               48000 -0.043175            IR
 121165   fan_end               48000 -0.118539            IR
 121166   fan_end               48000  0.155035            IR
 121167   fan_end               48000  0.056091            IR

 [3405147 rows x 9 columns]}

In [100]:
final_dfs['1730']['fault_diameter'].value_counts()

fault_diameter
7     1218953
21     973275
14     607980
0      485643
28     242519
Name: count, dtype: int64

In [110]:
df_1730 = final_dfs['1730'].copy()
df_1730

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,BA,fault_element
0,0.014603,0.192922,0,3,1730,NaN,12000,NaN,NaN
1,0.054449,0.164364,0,3,1730,NaN,12000,NaN,NaN
2,0.107646,0.090811,0,3,1730,NaN,12000,NaN,NaN
3,0.133722,0.086496,0,3,1730,NaN,12000,NaN,NaN
4,0.112652,0.099235,0,3,1730,NaN,12000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
121346,0.091857,0.155118,21,3,1730,fan_end,48000,0.174671,ORTHOGONAL
121347,0.028101,-0.093087,21,3,1730,fan_end,48000,-0.261744,ORTHOGONAL
121348,-0.061238,-0.144956,21,3,1730,fan_end,48000,-0.115280,ORTHOGONAL
121349,0.079918,0.077803,21,3,1730,fan_end,48000,0.246575,ORTHOGONAL
121350,0.185420,0.261782,21,3,1730,fan_end,48000,-0.063696,ORTHOGONAL

In [111]:
df_1730['fault_element'].value_counts()

fault_element
BALL          849949
IR            730847
ORTHOGONAL    608471
CENTERED      488455
OPPOSITE      365005
Name: count, dtype: int64

In [112]:
df_1730['fault_element'] = df_1730['fault_element'].map({'ORTHOGONAL' : 'OR',
                              'CENTERED' : 'OR',
                              'OPPOSITE' : 'OR',
                              'BALL' : 'BALL',
                              'IR' : 'IR'})

In [113]:
df_1730['fault_element'].value_counts()

fault_element
OR      1461931
BALL     849949
IR       730847
Name: count, dtype: int64

In [117]:
df_1730.drop(['BA'], axis = 1, inplace = True)

In [119]:
df_1730['fault_end'].value_counts()

fault_end
drive_end    1829763
fan_end      1212964
Name: count, dtype: int64

In [121]:
df_1730['fault_end'] = df_1730['fault_end'].map({np.nan : 0,
                                                 'drive_end' : 1,
                                                 'fan_end' : 2})

In [123]:
df_1730['fault_element'].value_counts()

fault_element
OR      1461931
BALL     849949
IR       730847
Name: count, dtype: int64

In [125]:
df_1730['fault_element'] = df_1730['fault_element'].map({np.nan : 0,
                              'OR' : 1,
                              'BALL' : 2,
                              'IR' : 3})

In [126]:
df_1730['fault_element'].value_counts()

fault_element
1    1461931
2     849949
3     730847
0     485643
Name: count, dtype: int64

In [128]:
df_1730

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element
0,0.014603,0.192922,0,3,1730,0,12000,0
1,0.054449,0.164364,0,3,1730,0,12000,0
2,0.107646,0.090811,0,3,1730,0,12000,0
3,0.133722,0.086496,0,3,1730,0,12000,0
4,0.112652,0.099235,0,3,1730,0,12000,0
...,...,...,...,...,...,...,...,...
121346,0.091857,0.155118,21,3,1730,2,48000,1
121347,0.028101,-0.093087,21,3,1730,2,48000,1
121348,-0.061238,-0.144956,21,3,1730,2,48000,1
121349,0.079918,0.077803,21,3,1730,2,48000,1
121350,0.185420,0.261782,21,3,1730,2,48000,1

In [130]:
df_1730['fault'] = np.where(df_1730['fault_diameter'] == 0, 0, 1)

In [132]:
df_1730.to_csv('parsed_data/case_edu_bearing_data/final_parsed_data/1730_case_edu.csv', index = False)

In [134]:
df_1772 = final_dfs['1772'].copy()
df_1772

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,BA,fault_element
0,0.046104,0.023216,0,1,1772,NaN,12000,NaN,NaN
1,-0.037134,0.081155,0,1,1772,NaN,12000,NaN,NaN
2,-0.089496,0.095331,0,1,1772,NaN,12000,NaN,NaN
3,-0.084906,0.091016,0,1,1772,NaN,12000,NaN,NaN
4,-0.038594,0.038625,0,1,1772,NaN,12000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
120612,-0.053279,-0.091705,21,1,1772,fan_end,48000,0.133588,OPPOSITE
120613,-0.126781,0.033170,21,1,1772,fan_end,48000,-0.091379,OPPOSITE
120614,0.059289,0.044470,21,1,1772,fan_end,48000,-0.084539,OPPOSITE
120615,0.148384,-0.194954,21,1,1772,fan_end,48000,0.164571,OPPOSITE
120616,-0.039391,-0.008130,21,1,1772,fan_end,48000,0.008128,OPPOSITE

In [135]:
df_1772['fault'] = np.where(df_1772['fault_diameter'] == 0, 0, 1)
df_1772

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,BA,fault_element,fault
0,0.046104,0.023216,0,1,1772,NaN,12000,NaN,NaN,0
1,-0.037134,0.081155,0,1,1772,NaN,12000,NaN,NaN,0
2,-0.089496,0.095331,0,1,1772,NaN,12000,NaN,NaN,0
3,-0.084906,0.091016,0,1,1772,NaN,12000,NaN,NaN,0
4,-0.038594,0.038625,0,1,1772,NaN,12000,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
120612,-0.053279,-0.091705,21,1,1772,fan_end,48000,0.133588,OPPOSITE,1
120613,-0.126781,0.033170,21,1,1772,fan_end,48000,-0.091379,OPPOSITE,1
120614,0.059289,0.044470,21,1,1772,fan_end,48000,-0.084539,OPPOSITE,1
120615,0.148384,-0.194954,21,1,1772,fan_end,48000,0.164571,OPPOSITE,1
120616,-0.039391,-0.008130,21,1,1772,fan_end,48000,0.008128,OPPOSITE,1

In [136]:
df_1772['fault_end'].value_counts()

fault_end
drive_end    1828149
fan_end      1333213
Name: count, dtype: int64

In [138]:
df_1772['fault_end'] = df_1772['fault_end'].map({np.nan : 0,
                          'drive_end' : 1,
                          'fan_end' : 2})
df_1772

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,BA,fault_element,fault
0,0.046104,0.023216,0,1,1772,0,12000,NaN,NaN,0
1,-0.037134,0.081155,0,1,1772,0,12000,NaN,NaN,0
2,-0.089496,0.095331,0,1,1772,0,12000,NaN,NaN,0
3,-0.084906,0.091016,0,1,1772,0,12000,NaN,NaN,0
4,-0.038594,0.038625,0,1,1772,0,12000,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
120612,-0.053279,-0.091705,21,1,1772,2,48000,0.133588,OPPOSITE,1
120613,-0.126781,0.033170,21,1,1772,2,48000,-0.091379,OPPOSITE,1
120614,0.059289,0.044470,21,1,1772,2,48000,-0.084539,OPPOSITE,1
120615,0.148384,-0.194954,21,1,1772,2,48000,0.164571,OPPOSITE,1
120616,-0.039391,-0.008130,21,1,1772,2,48000,0.008128,OPPOSITE,1

In [140]:
df_1772.drop(['BA'], axis = 1, inplace = True)

In [141]:
df_1772

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element,fault
0,0.046104,0.023216,0,1,1772,0,12000,NaN,0
1,-0.037134,0.081155,0,1,1772,0,12000,NaN,0
2,-0.089496,0.095331,0,1,1772,0,12000,NaN,0
3,-0.084906,0.091016,0,1,1772,0,12000,NaN,0
4,-0.038594,0.038625,0,1,1772,0,12000,NaN,0
...,...,...,...,...,...,...,...,...,...
120612,-0.053279,-0.091705,21,1,1772,2,48000,OPPOSITE,1
120613,-0.126781,0.033170,21,1,1772,2,48000,OPPOSITE,1
120614,0.059289,0.044470,21,1,1772,2,48000,OPPOSITE,1
120615,0.148384,-0.194954,21,1,1772,2,48000,OPPOSITE,1
120616,-0.039391,-0.008130,21,1,1772,2,48000,OPPOSITE,1

In [142]:
df_1772['fault_element'].value_counts()

fault_element
IR            850614
BALL          850469
CENTERED      488088
ORTHOGONAL    486173
OPPOSITE      486018
Name: count, dtype: int64

In [144]:
df_1772['fault_element'] = df_1772['fault_element'].map({np.nan : 0,
                              'ORTHOGONAL' : 1,
                              'CENTERED' : 1,
                              'OPPOSITE' : 1,
                              'BALL' : 2,
                              'IR' : 3})

In [145]:
df_1772

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element,fault
0,0.046104,0.023216,0,1,1772,0,12000,0,0
1,-0.037134,0.081155,0,1,1772,0,12000,0,0
2,-0.089496,0.095331,0,1,1772,0,12000,0,0
3,-0.084906,0.091016,0,1,1772,0,12000,0,0
4,-0.038594,0.038625,0,1,1772,0,12000,0,0
...,...,...,...,...,...,...,...,...,...
120612,-0.053279,-0.091705,21,1,1772,2,48000,1,1
120613,-0.126781,0.033170,21,1,1772,2,48000,1,1
120614,0.059289,0.044470,21,1,1772,2,48000,1,1
120615,0.148384,-0.194954,21,1,1772,2,48000,1,1
120616,-0.039391,-0.008130,21,1,1772,2,48000,1,1

In [159]:
df_1772.to_csv('parsed_data/case_edu_bearing_data/final_parsed_data/1772_case_edu.csv', index = False)

In [147]:
df_1797 = final_dfs['1797']

In [149]:
df_1797.drop(['BA'], axis = 1, inplace = True)
df_1797

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element
0,0.053197,0.145667,0,0,1797,NaN,12000,NaN
1,0.088662,0.097796,0,0,1797,NaN,12000,NaN
2,0.099718,0.054856,0,0,1797,NaN,12000,NaN
3,0.058621,0.036982,0,0,1797,NaN,12000,NaN
4,-0.004590,0.054445,0,0,1797,NaN,12000,NaN
...,...,...,...,...,...,...,...,...
121163,-0.320642,-0.199291,21,0,1797,fan_end,48000,IR
121164,0.047982,-0.487955,21,0,1797,fan_end,48000,IR
121165,0.306873,-0.015409,21,0,1797,fan_end,48000,IR
121166,-0.050902,0.155529,21,0,1797,fan_end,48000,IR
121167,-0.218838,-0.409060,21,0,1797,fan_end,48000,IR

In [150]:
df_1797['fault'] = np.where(df_1797['fault_diameter'] == 0, 0, 1)
df_1797

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element,fault
0,0.053197,0.145667,0,0,1797,NaN,12000,NaN,0
1,0.088662,0.097796,0,0,1797,NaN,12000,NaN,0
2,0.099718,0.054856,0,0,1797,NaN,12000,NaN,0
3,0.058621,0.036982,0,0,1797,NaN,12000,NaN,0
4,-0.004590,0.054445,0,0,1797,NaN,12000,NaN,0
...,...,...,...,...,...,...,...,...,...
121163,-0.320642,-0.199291,21,0,1797,fan_end,48000,IR,1
121164,0.047982,-0.487955,21,0,1797,fan_end,48000,IR,1
121165,0.306873,-0.015409,21,0,1797,fan_end,48000,IR,1
121166,-0.050902,0.155529,21,0,1797,fan_end,48000,IR,1
121167,-0.218838,-0.409060,21,0,1797,fan_end,48000,IR,1

In [153]:
df_1797['fault_end'] = df_1797['fault_end'].map({np.nan : 0,
                          'drive_end' : 1,
                          'fan_end' : 2})

In [154]:
df_1797

,DE,FE,fault_diameter,horse_power,rounds_per_minute,fault_end,samples_per_second,fault_element,fault
0,0.053197,0.145667,0,0,1797,0,12000,NaN,0
1,0.088662,0.097796,0,0,1797,0,12000,NaN,0
2,0.099718,0.054856,0,0,1797,0,12000,NaN,0
3,0.058621,0.036982,0,0,1797,0,12000,NaN,0
4,-0.004590,0.054445,0,0,1797,0,12000,NaN,0
...,...,...,...,...,...,...,...,...,...
121163,-0.320642,-0.199291,21,0,1797,2,48000,IR,1
121164,0.047982,-0.487955,21,0,1797,2,48000,IR,1
121165,0.306873,-0.015409,21,0,1797,2,48000,IR,1
121166,-0.050902,0.155529,21,0,1797,2,48000,IR,1
121167,-0.218838,-0.409060,21,0,1797,2,48000,IR,1

In [156]:
df_1797['fault_element'] = df_1797['fault_element'].map({np.nan : 0,
                              'ORTHOGONAL' : 1,
                              'CENTERED' : 1,
                              'OPPOSITE' : 1,
                              'BALL' : 2,
                              'IR' : 3})

In [158]:
df_1797.to_csv('parsed_data/case_edu_bearing_data/final_parsed_data/1797_case_edu.csv', index = False)